@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #1B293A;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto Flex', Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: #1B293A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 10px;
  border: 1px solid #1B293A;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}